
## Install main packages
dnf copr enable atim/ytop -y
dnf copr enable atim/alacritty -y
dnf group install -y --with-optional virtualization
dnf config-manager --add-repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
curl -o /etc/yum.repos.d/skype-stable.repo https://repo.skype.com/rpm/stable/skype-stable.repo

dnf install -y \
  ytop \
  alacritty \
  terminator \
  cmake \
  veracrypt \
  skypeforlinux \
  lpf-spotify-client \
  vim \
  wget \
  git \
  gitk \
  gedit \
  strace \
  gparted \
  ruby \
  ruby-devel \
  libxml2 \
  libxml2-devel \
  libxslt \
  libxslt-devel \
  libcurl-devel  \
  patch \
  rpm-build \
  ipython \
  python-virtualenv \
  python-virtualenvwrapper \
  pinpoint \
  mc \
  virt-manager \
  multitail \
  meld \
  unetbootin \
  ntfs-3g \
  liveusb-creator \
  cryptsetup \
  pv \
  npm \
  tigervnc \
  unrar \
  nmap \
  calibre \
  ffmpeg \
  htop \
  lm_sensors \
  gnome-disk-utility \
  gimp \
  lastpass-cli \
  sysstat \
  fuse-exfat \
  exfat-utils \
  pandoc \
  python-certbot-apache \
  rust \
  cargo \
  telnet \
  net-tools \
  tcpdump \
  iperf \
  nmon \
  tmux \
  jq \
  ripgrep \
  tig  \
  ansible \
  nano \
  vnstat  \
  rsync \
  iotop \
  gcal \
  dnsutils \
  pciutils \
  usbutils \
  lshw  \
  tree \
  ncdu  \
  inxi \
  fping \
  grc  \
  make \
  gcc \
  curl \
  gtkhash \
  chrpath \
  diffstat \
  flex \
  bison \
  dconf-editor \
  magic-wormhole \
  stress-ng \
  blktrace \
  vagrant-libvirt \
  dnf-plugins-core \
  gnome-tweak-tool \
  tlp \
  tlp-rdw \
  httperf \
  siege \
  thinkfan \
  zsh \
  fontawesome-fonts \
  fzf \
  oathtool \
  gnupg2 \
  xclip \
  speedtest-cli \
  python-jwt \
  fontconfig-devel \
  freetype-devel \
  libxcb-devel \
  ffmpegthumbnailer \
  atool  \
  lynx \
  w3m  \
  elinks \
  fmt  \
  mediainfo \
  odt2txt \
  openscad \
  golang \
  hub \
  exa  \
  youtube-dl \
  the_silver_searcher \
  pcp-system-tools \
  pcp-doc \
  nethogs \
  tmate \
  iperf3 \
  golang-github-google-jsonnet \
  wl-clipboard \
  '@Development tools' \
  '@gnome' \
  xournal \
  libreoffice \
  libreoffice-langpack-de \
  libreoffice-calc \
  libreoffice-impress \
  libreoffice-writer \
  libreoffice-draw \
  evolution \
  pdfshuffler \
  glabels \
  thunderbird \
  neovim \
  shotwell \
  darktable \
  scribus \
  asciinema \
  gimp \
  graphviz \
  vlc \
  pulseeffects \
  seahorse \
  torbrowser-launcher \
  vinagre \
  restic \
  borgbackup \
  tor \
  hugo \
  golang \
  golang-src \
  aircrack-ng \
  wireshark \
  traceroute \
  whois \
  nikto \
  lynis \
  hydra \
  packer

