
## Install main packages
sudo dnf copr enable atim/ytop -y
sudo dnf copr enable atim/alacritty -y
sudo dnf group install -y --with-optional virtualization
sudo dnf config-manager --add-repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
sudo curl -o /etc/yum.repos.d/skype-stable.repo https://repo.skype.com/rpm/stable/skype-stable.repo

sudo dnf install -y https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
sudo dnf install -y https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo

sudo dnf upgrade -y --refresh
sudo dnf groupupdate -y core
sudo dnf install -y rpmfusion-free-release-tainted dnf-plugins-core

sudo dnf install -y \
  ytop \
  alacritty \
  terminator \
  cmake \
  veracrypt \
  skypeforlinux \
  lpf-spotify-client \
  google-chrome-stable \
  vim \
  wget \
  git \
  git-lfs \
  gitk \
  gedit \
  strace \
  gparted \
  ruby \
  ruby-devel \
  libxml2 \
  libxml2-devel \
  libxslt \
  libxslt-devel \
  libcurl-devel  \
  patch \
  rpm-build \
  ipython \
  python-virtualenv \
  python-virtualenvwrapper \
  python-certbot-apache \
  python3-pip \
  pinpoint \
  mc \
  virt-manager \
  multitail \
  meld \
  unetbootin \
  ntfs-3g \
  liveusb-creator \
  cryptsetup \
  pv \
  npm \
  tigervnc \
  unrar \
  nmap \
  calibre \
  ffmpeg \
  htop \
  lm_sensors \
  gnome-disk-utility \
  gimp \
  lastpass-cli \
  sysstat \
  fuse-exfat \
  exfat-utils \
  pandoc \
  rust \
  cargo \
  telnet \
  net-tools \
  tcpdump \
  iperf \
  nmon \
  tmux \
  jq \
  ripgrep \
  tig  \
  ansible \
  nano \
  vnstat  \
  rsync \
  iotop \
  gcal \
  dnsutils \
  pciutils \
  usbutils \
  lshw  \
  tree \
  ncdu  \
  inxi \
  fping \
  grc  \
  make \
  gcc \
  curl \
  gtkhash \
  chrpath \
  diffstat \
  flex \
  bison \
  dconf-editor \
  magic-wormhole \
  stress-ng \
  blktrace \
  vagrant-libvirt \
  dnf-plugins-core \
  gnome-tweak-tool \
  tlp \
  tlp-rdw \
  httperf \
  siege \
  thinkfan \
  zsh \
  fontawesome-fonts \
  fzf \
  oathtool \
  gnupg2 \
  xclip \
  speedtest-cli \
  python-jwt \
  fontconfig-devel \
  freetype-devel \
  libxcb-devel \
  ffmpegthumbnailer \
  atool  \
  lynx \
  w3m  \
  elinks \
  fmt  \
  mediainfo \
  odt2txt \
  openscad \
  openssl \
  hub \
  exa  \
  youtube-dl \
  the_silver_searcher \
  pcp-system-tools \
  pcp-doc \
  nethogs \
  tmate \
  iperf3 \
  golang-github-google-jsonnet \
  wl-clipboard \
  xournal \
  libreoffice \
  libreoffice-langpack-de \
  libreoffice-calc \
  libreoffice-impress \
  libreoffice-writer \
  libreoffice-draw \
  evolution \
  pdfshuffler \
  glabels \
  thunderbird \
  neovim \
  shotwell \
  darktable \
  scribus \
  asciinema \
  gimp \
  graphviz \
  vlc \
  pulseeffects \
  seahorse \
  torbrowser-launcher \
  vinagre \
  restic \
  borgbackup \
  gnome-tweaks \
  gnome-extensions-app \
  gnome-shell-extension-appindicator \
  gnome-shell-extension-pop-shell \
  tor \
  hugo \
  nextcloud-client \
  nextcloud-client-nautilus \
  aircrack-ng \
  wireshark \
  traceroute \
  whois \
  nikto \
  lynis \
  hydra \
  terraform \
  packer \
  docker-ce \
  docker-ce-cli \
  containerd.io \
  docker-compose-plugin \
  calls

dnf group install -y \
  'Development tools' 

echo 'fs.inotify.max_user_watches = 524288' >> /etc/sysctl.conf
sysctl -p