
#TODO
# VELERO
# YQ_VERSION
# ARGOCD_VERSION

ZULIP_VERSION=5.9.4-rc.0 

#https://slack.com/downloads/linux
SLACK_VERSION=4.28.171 

ZOOM_VERSION=5.11.10.4400 #https://support.zoom.us/hc/en-us/articles/205759689-Release-notes-for-Linux

#https://github.com/bazelbuild/bazelisk/releases
# renovate: datasource=github-releases depName=bazelbuild/bazelisk extractVersion=^v(?<version>.*)$
BAZELISK_VERSION=1.14.0

#https://github.com/twpayne/chezmoi/releases
# renovate: datasource=github-releases depName=twpayne/chezmoi extractVersion=^v(?<version>.*)$
CHEZMOI_VERSION=2.27.0

#https://github.com/kubernetes/kubernetes/releases
# renovate: datasource=github-tags depName=kubernetes/kubernetes extractVersion=^v(?<version>.*)$
KUBERNETES_VERSION=1.25.3

#https://github.com/kubernetes-sigs/kind/releases
# renovate: datasource=github-tags depName=kubernetes-sigs/kind extractVersion=^v(?<version>.*)$
KIND_VERSION=0.17.0

#https://github.com/kubernetes-sigs/cluster-api/releases
# renovate: datasource=github-releases depName=kubernetes-sigs/cluster-api extractVersion=^v(?<version>.*)$
CLUSTERCTL_VERSION=1.2.5

#https://github.com/argoproj/argo-cd/releases
# renovate: datasource=github-tags depName=argoproj/argo-cd extractVersion=^v(?<version>.*)$
ARGOCD_VERSION=2.5.1

#https://github.com/bitwarden/clients/releases
# renovate: datasource=github-releases depName=bitwarden/clients versioning=regex:^desktop-v(?<major>\d+)\.(?<minor>\d+)\.(?<patch>\d+)$
BITWARDEN_VERSION=desktop-v2022.10.1

#https://github.com/Foundry376/Mailspring/releases
# renovate: datasource=github-releases depName=Foundry376/Mailspring
MAILSPRING_VERSION=1.10.5

#https://github.com/derailed/k9s/releases
# renovate: datasource=github-releases depName=derailed/k9s extractVersion=^v(?<version>.*)$
K9S_VERSION=0.26.7

#https://github.com/cilium/cilium-cli/releases
# renovate: datasource=github-tags depName=cilium/cilium-cli extractVersion=^v(?<version>.*)$
CILIUMCTL_VERSION=0.12.6

#https://github.com/mikefarah/yq/releases
# renovate: datasource=github-tags depName=mikefarah/yq extractVersion=^v(?<version>.*)$
YQ_VERSION=4.29.2

#https://github.com/istio/istio/releases/
# renovate: datasource=github-tags depName=istio/istio
ISTIOCTL_VERSION=1.15.3

#https://github.com/tilt-dev/ctlptl/releases
# renovate: datasource=github-releases depName=tilt-dev/ctlptl extractVersion=^v(?<version>.*)$
CTLPTL_VERSION=0.8.12

#https://github.com/hetznercloud/cli/releases
# renovate: datasource=github-tags depName=hetznercloud/cli extractVersion=^v(?<version>.*)$
HCLOUD_VERSION=1.30.3

#https://github.com/helm/helm/releases
# renovate: datasource=github-tags depName=helm/helm extractVersion=^v(?<version>.*)$
HELM_VERSION=3.10.1

#https://github.com/aslafy-z/helm-git/releases
# renovate: datasource=github-tags depName=aslafy-z/helm-git extractVersion=^v(?<version>.*)$
HELM_GIT_VERSION=0.14.0

#https://github.com/databus23/helm-diff/releases
# renovate: datasource=github-tags depName=databus23/helm-diff extractVersion=^v(?<version>.*)$
HELM_DIFF_VERSION=3.6.0

#https://github.com/helmfile/helmfile/releases
# renovate: datasource=github-tags depName=helmfile/helmfile extractVersion=^v(?<version>.*)$
HELMFILE_VERSION=0.147.0

#https://github.com/tilt-dev/tilt/releases
# renovate: datasource=github-tags depName=tilt-dev/tilt extractVersion=^v(?<version>.*)$
TILT_VERSION=0.30.11

MINIMUM_CILIUM_VERSION=$CILIUMCTL_VERSION {{ template "after/bin_scripts/ensure-cilium-cli.sh" . }}

MINIMUM_YQ_VERSION=$YQ_VERSION {{ template "after/bin_scripts/ensure-yq.sh" . }}

MINIMUM_CLUSTERCTL_VERSION=$CLUSTERCTL_VERSION {{ template "after/bin_scripts/ensure-clusterctl.sh" . }}

MINIMUM_ARGOCD_VERSION=$ARGOCD_VERSION {{ template "after/bin_scripts/ensure-argocd.sh" . }}

MINIMUM_CTLPTL_VERSION=$CTLPTL_VERSION {{ template "after/bin_scripts/ensure-ctlptl.sh" . }}

MINIMUM_HCLOUD_VERSION=$HCLOUD_VERSION {{ template "after/bin_scripts/ensure-hcloud.sh" . }}

MINIMUM_HELM_VERSION=$HELM_VERSION {{ template "after/bin_scripts/ensure-helm.sh" . }}

HELM_GIT_VERSION=$HELM_GIT_VERSION HELM_DIFF_VERSION=$HELM_DIFF_VERSION {{ template "after/bin_scripts/ensure-helm-plugins.sh" . }}

MINIMUM_HELMFILE_VERSION=$HELMFILE_VERSION {{ template "after/bin_scripts/ensure-helmfile.sh" . }}

MINIMUM_KIND_VERSION=$KIND_VERSION {{ template "after/bin_scripts/ensure-kind.sh" . }}

MINIMUM_KUBECTL_VERSION=$KUBERNETES_VERSION {{ template "after/bin_scripts/ensure-kubectl.sh" . }}

MINIMUM_TILT_VERSION=$TILT_VERSION {{ template "after/bin_scripts/ensure-tilt.sh" . }}

MINIMUM_BAZEL_VERSION=$BAZELISK_VERSION {{ template "after/bin_scripts/ensure-bazel.sh" . }}

# MINIMUM_ZULIP_VERSION=$ZULIP_VERSION  "after/bin_scripts/ensure-zulip.sh" 

MINIMUM_SLACK_VERSION=$SLACK_VERSION {{ template "after/bin_scripts/ensure-slack.sh" . }}

MINIMUM_ZOOM_VERSION=$ZOOM_VERSION {{ template "after/bin_scripts/ensure-zoom.sh" . }}

MINIMUM_CHEZMOI_VERSION=$CHEZMOI_VERSION {{ template "after/bin_scripts/ensure-chezmoi.sh" . }}

MINIMUM_BITWARDEN_VERSION=$BITWARDEN_VERSION {{ template "after/bin_scripts/ensure-bitwarden.sh" . }}

MINIMUM_MAILSPRING_VERSION=$MAILSPRING_VERSION {{ template "after/bin_scripts/ensure-mailspring.sh" . }}

MINIMUM_K9S_VERSION=$K9S_VERSION {{ template "after/bin_scripts/ensure-k9s.sh" . }}

MINIMUM_ISTIOCTL_VERSION=$ISTIOCTL_VERSION {{ template "after/bin_scripts/ensure-istioctl.sh" . }}

